@use '../sass-utils/variables';
i {
    font-family: “FontAwesome”;
}
.new-branding  {

    background-image: url(../assets/images/CVupdateENG.jpg);
    background-size:cover;
    background-position: center center;
    height:500px;

    & .container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content:center;
        height:100%;
    }
    
    &__caps, &__big--white, &__big--italic {
        text-align: center;
        color:var(--text-color-white);

    }
    &__caps {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        margin:20px;
        font-family: variables.$work;
    }

    &__big--white {
        font-size:40px;
        font-weight:600;
    }
    &__big--italic {
        font-style: italic;
        font-weight:100;
    }
    &__icon { 
       position:absolute;
       bottom:-20px;
       left:50%;
       transform: translateX(-50%);
        & svg {
            & path {
                fill:#FFFF;
                    }
    }
}
}
.about {
    padding:100px;
        &__big--dark, & p, & img {
            text-align:center;
        }
        &__big--dark {
            font-size:40px;
            font-weight:600;
        }
        & p {
            font-family: variables.$work;
            letter-spacing: normal;
            font-weight:200;
            font-size:15px;
            margin:20px;
        }
        &.container {
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        & img {
            width:150px;
        }   
}
.icon-list {
    background-image: url('../../assets/images/black-bg-pattern.jpg');
    background-size:cover;
    padding:60px 0;

    & .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__box {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__icon-div {
        width:20%;
        color:var(--text-color-white);
    }
    &__icon-desc {
        width:80%;
        font-size:11px;
        color:var(--text-color-white);
    }
}
.best {
    padding:60px 0;
    &__big--dark, & p {
        text-align: center;
    }

    &__big--dark {
        font-size:40px;
        font-weight:600;
    }
    & p {
        font-family: variables.$work;
        letter-spacing: normal;
        font-weight:200;
        font-size:15px;
        margin:20px;
        color:rgb(54, 54, 54);
    }
    &__gallery {
        display:flex;
        align-items:center;
        flex-wrap: wrap;
    }
    &__gallery a {
        width:30%;
        margin:10px;
    }
    &__gallery img {
        width:100%;
    }
}

.testimonial {
    background-image: url('../../assets/images/black-bg-pattern.jpg');
    background-size:cover;
    padding:60px 0;
    width:100%;
    padding:0;
    margin:0;
    

  
    &__content {
        position:relative;
        max-width:900px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items:center;
    }

    &__slide {
        text-align:center;
        font-family: variables.$play;
        color:var(--text-color-white);
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        
        & blockquote {
            font-style: italic;
            font-size:20px;
            font-weight:200;
            letter-spacing:2px;
        }
    }

    &__author {
        text-transform: uppercase;
        font-family: variables.$work;
        font-size:15px;
    }
     
}

.swiper {
    margin-left: auto;
    margin-right: auto;
  }

